@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(//db.onlinewebfonts.com/c/49e02ac686207bfe0490c93f2918c575?family=LemonYellowSunW00-Regular);

body{
	background-color: hsl(0, 0%, 98%);
	background:linear-gradient(#FF2626, #DB0000);
    height: 100vh;
    width: 100%;
    min-width: 1100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Signup button*/
.button_register {
background-color: #FFFFFF;
color: #000000 !important;
text-transform: uppercase;
font-family: "LemonYellowSunW00-Regular", regular;
font-weight:bold;
position :relative;
background: #FFF500;
padding: 20px;
border: 4px solid #000000 !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.button_register:hover {
border-radius: 50px;
border-color: #000000 !important;
transition: all 0.3s ease 0s;
}

.butonSubtitles {
   color: #FFFFFF;
   font-size: 25px;
   position : relative;
   max-width: 100px;
   text-shadow : 3px 3px #000000;
   font-family: "LemonYellowSunW00-Regular", regular;
}
.title {
    color: #FFFFFF;
    text-align: center;
    font-family: "LemonYellowSunW00-Regular", regular;
    top: 10px;
    left: 200px;
    font-size: 89px;
}
.title:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        text-shadow : 4px 4px #000000;
}


.page_container {
  position: relative;
  height : 200px;
}

.page_center_container {
  position: relative;
  height : 800px;
}


/*Those services are made for buttons of login and register*/
.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #FFD800;
  /* Try using a background image
  background: url('images/frontPageBackground.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 10px;
}
.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #FFD800;
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #FFD800;
}


/*Those services are made for search bar */


.new_footer_area {
    background: #FFD800;
    font-family: "LemonYellowSunW00-Regular", regular;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
    bottom:0;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #000000;
    border-color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #FFFFFF;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #000000;
    border-color: #000000;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #000000;
}

.new_footer_top .f_social_icon a:hover {
    background: #000000;
    border-color: #000000;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #000000;
    font-family: "LemonYellowSunW00-Regular", regular;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
/*************button of food start*****************/

.btn_food {
  background-color: #FFD800; /* Blue background */
  border: 4px solid #000 !important;
  border: none; /* Remove borders */
  color: #000000; /* White text */
  position : relative;
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  margin : 0 auto;
  width: 100px;
  background-image : url('../images/dinner.png');
  background-size : 100%;
  border-radius : 6px;
}

/* Darker background on mouse-over */
.btn_food:hover {
  background-color: #FFFFFF;
  color : #E47900;
  border-radius : 20px;
}




/*************button of food End*****************/

/*************button of delivery start*****************/

.btn_delivery {
  background-color: #FFD800; /* Blue background */
  border: 4px solid #000 !important;
  color: #000000; /* White text */
  position : relative;
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  margin : 0 auto;
  width: 100px;
  background-image : url('../images/scooter.png');
  background-size : 100%;
  border-radius : 6px;
}

/* Darker background on mouse-over */
.btn_delivery:hover {
  background-color: #FFFFFF;
  color : #E47900;
  border-radius : 20px;
}
/*************button of delivery End*****************/
/*************button of gift start*****************/

.btn_gift {
  background-color: #FFD800; /* yellow background */
  border: 4px solid #000 !important;
  color: #000000; /* White text */
  position : relative;
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  width: 100px;
  margin : 0 auto;
  background-image : url('../images/gift.png');
  background-size : 100%;
  border-radius : 6px;
}

/* Darker background on mouse-over */
.btn_gift:hover {
  background-color: #FFFFFF;
  color : #E47900;
  border-radius : 20px;
}
/*************button of gift End*****************/
/*************button of pharmacy start*****************/

.btn_pharmacy {
  background-color: #FFD800; /* yellow background */
  border: 4px solid #000 !important;
  color: #000000; /* White text */
  position : relative;
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  width: 100px;
  margin : 0 auto;
  background-image : url('../images/pharmacy-icon.png');
  background-size : 100%;
  border-radius : 6px;
}

/* Darker background on mouse-over */
.btn_pharmacy:hover {
  background-color: #FFFFFF;
  color : #E47900;
  border-radius : 20px;
}
/*************button of attention End*****************/
/*************button of attention start*****************/
.btn_attention{
  background-color: #FFD800; /* yellow background */
  border: 4px solid #000 !important;
  color: #000000; /* White text */
  position : relative;
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  width: 100px;
  margin : 0 auto;
  background-image : url('../images/attention.png');
  background-size : 100%;
  border-radius : 6px;
}

/* Darker background on mouse-over */
.btn_attention:hover {
  background-color: #FFFFFF;
  color : #E47900;
  border-radius : 20px;
}
/*************button of attention End*****************/
