@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


body{
	background-color: hsl(0, 0%, 98%);
	background: #000000;
    height: 100vh;
    width: 100%;

}

/* Signup button*/
.button_register {
  display: inline-block;
  border-radius: 50px;
  border : none;
  position :relative;
  left : 20px;
  top : 20px;
  background-color: #FFD800;
  border: none;
  color: #000;
  text-align: center;
  font-size: 20px;
  padding: 2px;
  width: 120px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button_register span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_register span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button_register:hover span {
  padding-right: 25px;
  color : #fff;
}

.button_register:hover span:after {
  opacity: 1;
  right: 0;
}

.page_container {
  position: relative;
  height : 800px;
}



/*Those services are made for buttons of login and register*/
.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #FFD800;
  /* Try using a background image
  background: url('images/frontPageBackground.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 10px;
}
.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #FFD800;
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #FFD800;
}
.btn-circle,
#to-top {
  border-radius: 50%;
  background: #FFD800;
  padding: 6px;
  font-size: 14px;
  /* border-radius: 50%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #000000;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 20px auto 0;
  margin: 4.8rem auto 0;
}

.btn-default {
  color: #fff;
  background-color: #FFD800;
  border-color: #FFD800;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 18px 28px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 50px;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #000000;
}

/*Those services are made for search bar */


.new_footer_area {
    background: #FFD800;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
    bottom:0;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #000000;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #000000;
    border-color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #FFFFFF;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #000000;
    border-color: #000000;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #000000;
}

.new_footer_top .f_social_icon a:hover {
    background: #000000;
    border-color: #000000;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #000000;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
/*************button of food start*****************/

.btn_food {
  background-color: #FFD800; /* Blue background */
  border: none; /* Remove borders */
  color: #000000; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  position : relative;
  width: 100px;
  margin : 0
  background-image : url('../images/dinner.png');
  background-size : 100%;
}

/* Darker background on mouse-over */
.btn_food:hover {
  background-color: #FFFFFF;
  color : #E47900;
}




/*************button of food End*****************/

/*************button of delivery start*****************/

.btn_delivery {
  background-color: #FFD800; /* Blue background */
  border: none; /* Remove borders */
  color: #000000; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  width: 100px;
  background-image : url('../images/scooter.png');
  background-size : 100%;
}

/* Darker background on mouse-over */
.btn_delivery:hover {
  background-color: #FFFFFF;
  color : #E47900;
}
/*************button of delivery End*****************/
/*************button of gift start*****************/

.btn_gift {
  background-color: #FFD800; /* yellow background */
  border: none; /* Remove borders */
  color: #000000; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 30px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height: 100px;
  width: 100px;
  background-image : url('../images/gift.png');
  background-size : 100%;
}

/* Darker background on mouse-over */
.btn_gift:hover {
  background-color: #FFFFFF;
  color : #E47900;
}
/*************button of gift End*****************/


